<include file="Index/header"/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>address</title>
    <link rel="stylesheet" href="/Public/css/address/address.css" type="text/css" />
</head>
<body>
<center>
    <div class="ahead">——————&nbsp;&nbsp;&nbsp;校友通讯&nbsp;&nbsp;&nbsp;——————</div>
    <div class="body">
        <h1 id="big_title">{$periodicalDetails.title}
            </h1>

        <!--【来源:哈工大威海校友网&nbsp; 浏览：1000&nbsp;-->
        <h2 id="vice_title">【来源:哈工大威海校友网&nbsp; 浏览：1000&nbsp;录入时间：<?php echo date("Y年m月d日",$periodicalDetails['time']) ?>】</h2>
        <hr>
        <div class="book">
            <a href="{$periodicalDetails.path}"><img src="{$periodicalDetails.picture_url}"></a>

        </div>
    </div>
</center>
</body>
</html>
<include file="Index/footer"/>