<include file="Index/header"/>
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- 以最高版本ie渲染，chrome版本为1开启chrome frame -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- 适应屏幕宽度 -->
	<link href="/Public/css/simpleList/horizontal.css"  rel="stylesheet" type="text/css" />
	<link href="/Public/css/simpleList/simpleListStyle.css" rel="stylesheet" type="text/css" />
	<link href="/Public/css/simpleList/reset.css"  rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/Public/js/alumni/menuFix.js"></script>
	<script src="/Public/js/alumni/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="/Public/js/alumni/listIndex.js"></script>
	<title></title>
</head>
<body>
		<div class=toppic>
			<span class="black"></span>
			<h1>——— {$parentColumn.column_name} ———</h1>
			<h3>News</h3>
		</div>
	<div class=wrap2>
		<p><img src="/Public/images/simpleList/position.png">当前位置： <a href="/index.php">首页</a> > <a href="detailListIndex.html">{$parentColumn.column_name}</a>><a href="#">{$currentColumn.column_name}</a></p>
		<ul class=class>

            <foreach name="brotherColumn" item = "brotherColumnItems">
			
			<li><a href="/index.php?c=simpleList&columnid={$brotherColumnItems.column_id}">{$brotherColumnItems.column_name}</a></li>

            </foreach>
		</ul>
		<div class=hot>
			<h4>热点新闻</h4>
			<ul>
				<span class=first>
					<img class=fl src="img/book.png">
					<a class=fl href="passage.html" >{校友爱心捐书活动倡议书}</a> 
					<p class="fl words">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp峥嵘三十载，桃李遍五洲。哈工大（威海）自建校以来，已...</p>
					<span class="time1 fl">2017-11-16</span>
					<p class=good>666</p>
				</span>
				<li>
					<a class=fl href="passage.html" >校友爱心捐书活动倡议书</a> 
					<div class="fl">
						<span class="time1 fl">2017-11-16</span>
					    <p class=good>666</p>
					</div>
				</li>
				<li>
					<a class=fl href="passage.html" >校友爱心捐书活动倡议书</a> 
					<div class="fl">
						<span class="time1 fl">2017-11-16</span>
					    <p class=good>666</p>
					</div>
				<li>
					<a class=fl href="passage.html" >校友爱心捐书活动倡议书</a> 
					<div class="fl">
						<span class="time1 fl">2017-11-16</span>
					    <p class=good>666</p>
					</div>
				</li>
				<li>
					<a class=fl href="passage.html" >校友爱心捐书活动倡议书</a> 
					<div class="fl">
						<span class="time1 fl">2017-11-16</span>
					    <p class=good>666</p>
					</div>
				</li>
				<li>
					<a class=fl href="passage.html" >校友爱心捐书活动倡议书</a> 
					<div class="fl">
						<span class="time1 fl">2017-11-16</span>
					    <p class=good>666</p>
					</div>
				</li>
				<li>
					<a class=fl href="passage.html" >校友爱心捐书活动倡议书</a> 
					<div class="fl">
						<span class="time1 fl">2017-11-16</span>
					    <p class=good>666</p>
					</div>
				</li>
				<li>
					<a class=fl href="passage.html" >校友爱心捐书活动倡议书</a> 
					<div class="fl">
						<span class="time1 fl">2017-11-16</span>
					    <p class=good>666</p>
					</div>
				</li>
				<li>
					<a class=fl href="passage.html" >校友爱心捐书活动倡议书</a> 
					<div class="fl">
						<span class="time1 fl">2017-11-16</span>
					    <p class=good>666</p>
					</div>
				</li>
				<li>
					<a class=fl href="passage.html" >校友爱心捐书活动倡议书</a> 
					<div class="fl">
						<span class="time1 fl">2017-11-16</span>
					    <p class=good>666</p>
					</div>
				</li>
			</ul>
		</div>
		<div class=main>
			<span class=line1></span>
			<span class=line2></span>
			<span class=line3></span>
			<span class=line4></span>
			<h1>新闻概要</h1>
			<ul>
				<li>
					<div class=time_area>
						<span class=time_month><?php echo substr($newsList[0]['publishdate'],0,7) ?><br></span>
						<span class=time_date><?php echo substr($newsList[0]['publishdate'],8,2) ?>日</span>
					</div>
					<div class=word1 id=word1>
					<a href="/index.php?c=passage&articleid={$newsList[0]['articleid']}" name=title>{$newsList[0]['title']}</a>
					<p name=content>巴拉巴拉巴拉吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼多撒后即可户口</p>
					<span class=label name=label><?php echo getColumnNameById($newsList[0]['columnid']) ?></span>
				</div>
				</li>
				<li>
					<div class=time_area>
						<span class=time_month><?php echo substr($newsList[1]['publishdate'],0,7) ?><br></span>
						<span class=time_date><?php echo substr($newsList[1]['publishdate'],8,2) ?>日</span>
					</div>
					<div class=word1 id=word1>
					<a href="/index.php?c=passage&articleid={$newsList[1]['articleid']}" name=title>{$newsList[1]['title']}</a>
					<p name=content>巴拉巴拉巴拉吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼多撒后即可户口</p>
					<span class=label name=label><?php echo getColumnNameById($newsList[1]['columnid']) ?></span>
				</div>
				</li>
				<li>
					<div class=time_area>
						<span class=time_month><?php echo substr($newsList[2]['publishdate'],0,7) ?><br></span>
						<span class=time_date><?php echo substr($newsList[2]['publishdate'],8,2) ?>日</span>
					</div>
					<div class=word1 id=word1>
					<a href="/index.php?c=passage&articleid={$newsList[2]['articleid']}" name=title>{$newsList[2]['title']}</a>
					<p name=content>巴拉巴拉巴拉吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼多撒后即可户口</p>
					<span class=label name=label><?php echo getColumnNameById($newsList[2]['columnid']) ?></span>
				</div>
				</li>
				<li>
					<div class=time_area>
						<span class=time_month><?php echo substr($newsList[3]['publishdate'],0,7) ?><br></span>
						<span class=time_date><?php echo substr($newsList[3]['publishdate'],8,2) ?>日</span>
					</div>
					<div class=word1 id=word1>
					<a href="/index.php?c=passage&articleid={$newsList[3]['articleid']}" name=title>{$newsList[3]['title']}</a>
					<p name=content>巴拉巴拉巴拉吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼多撒后即可户口</p>
					<span class=label name=label><?php echo getColumnNameById($newsList[3]['columnid']) ?></span>
				</div>
				</li>
				<li>
					<div class=time_area>
						<span class=time_month><?php echo substr($newsList[4]['publishdate'],0,7) ?><br></span>
						<span class=time_date><?php echo substr($newsList[4]['publishdate'],8,2) ?>日</span>
					</div>
					<div class=word1 id=word1>
					<a href="/index.php?c=passage&articleid={$newsList[4]['articleid']}" name=title>{$newsList[4]['title']}</a>
					<p name=content>巴拉巴拉巴拉吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼多撒后即可户口</p>
					<span class=label name=label><?php echo getColumnNameById($newsList[4]['columnid']) ?></span>
				</div>
				</li>
				<li>
					<div class=time_area>
						<span class=time_month><?php echo substr($newsList[5]['publishdate'],0,7) ?><br></span>
						<span class=time_date><?php echo substr($newsList[5]['publishdate'],8,2) ?>日</span>
					</div>
					<div class=word1 id=word1>
					<a href="/index.php?c=passage&articleid={$newsList[5]['articleid']}" name=title>{$newsList[5]['title']}</a>
					<p name=content>巴拉巴拉巴拉吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼多撒后即可户口</p>
					<span class=label name=label><?php echo getColumnNameById($newsList[5]['columnid']) ?></span>
				</div>
				</li>
			</ul>
		</div>
		<div class=change>
			<a href="">首页</a>
			<a href="">上一页</a>
			<a class="page checked" href="">1</a>
			<a class=page href="">2</a>
			<a class=page href="">3</a>
			<a class=page href="">4</a>
			<a href="">下一页</a>
			<a href="">尾页</a>
		</div>
	</div>
</body>
</html>
<include file="Index/footer"/>