<include file="Index/header"/>
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- 以最高版本ie渲染，chrome版本为1开启chrome frame -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- 适应屏幕宽度 -->
	<link href="/Public/css/simpleList/simpleListStyle.css" rel="stylesheet" type="text/css" />
	<link href="/Public/css/simpleList/reset.css"  rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/Public/css/page.css">

  <script type="text/javascript" src="/Public/js/alumni/menuFix.js"></script>
	<script src="/Public/js/alumni/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="/Public/js/alumni/listIndex.js"></script>
  <script src="/Public/js/paging.js"></script>
	<title></title>
</head>
<body>

	<div class="ahead">——————&nbsp;&nbsp;&nbsp;{$parentColumn.column_name}&nbsp;&nbsp;&nbsp;——————</div>
	<div class=wrap2>
		<div class="position">
			<p><img src="/Public/images/simpleList/position.png">当前位置： <a href="/index.php">首页</a> > <a href="/index.php?c=detailedList&columnid={$parentColumn.column_id}">{$parentColumn.column_name}</a>><a href="#">{$currentColumn.column_name}</a></p>
		</div>

		<ul class=class>
			<foreach name="brotherColumn" item = "brotherColumnItems">
				<li {$brotherColumnItems.column_id|getChoose}>
					<a href="/index.php?c=simpleList&columnid={$brotherColumnItems.column_id}">{$brotherColumnItems.column_name}</a>
				</li>
			</foreach>
		</ul>
		<div class=hot>
			<h4>热点新闻</h4>
			<ul>
				<volist name="hotNewsList" id="news"> 
					<li>
						<a class=fl href="/index.php?c=passage&articleid={$news['articleid']}" >{$news['title']}</a> 
						<span class="time1 fl"><?php echo date("Y-m-d",$news['publishdate']) ?></span>
						<p class=good>{$news['visitcount']}</p>
					</li>
				</volist>
			</ul>
		</div>
		<div class=main>
			<span class=line1></span>
			<span class=line2></span>
			<span class=line3></span>
			<span class=line4></span>
			<h1>新闻概要</h1>
			<ul>
				<volist name="newsList" id="news">
					<li>
						<div class=time_area>
							<span class=time_month><?php $time = date("Y-m-d",$news['publishdate']); 
								echo substr($time,0,7)?><br></span>
							<span class=time_date><?php echo substr($time,8,2) ?>日</span>
						</div>
						<div class=word1 id=word1>
							<a href="/index.php?c=passage&articleid={$news['articleid']}" name=title>{$news['title']}</a>
							<p name=content><?php echo $contentes = strip_tags($news['content']) ?></p>
						</div>
					</li>
				</volist>
			</ul>
		</div>
		<div class=change>
			<div id="page" class="page_div"></div>
		</div>
	</div>
</body>
<script>
	$("#page").paging({
		pageNo: {$page.pageNow},
		totalPage: {$page.pageTotal},
		totalSize: {$page.pageRows},
		callback: function(num) {
			var columnid = {$currentColumn.column_id};
			window.location.href = '/index.php?c=simpleList&p=' + num + "&columnid=" +columnid;
		}
	});
</script>
</html>
<include file="Index/footer"/>