<include file="header"/>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<title>哈尔滨工业大学（威海）校友网</title>
	<link rel="stylesheet" type="text/css" href="/Public/css/index/styles.css" />
	<link rel="stylesheet" type="text/css" href="/Public/css/index/dayi.css" />
	<link rel="stylesheet" type="text/css" href="/Public/css/index/summary.css" />

	<script src="/Public/js/alumni/jquery-1.8.3.min.js"></script>
	<script src="/Public/js/alumni/banner.js"></script>
	<script src="/Public/js/alumni/menuFix.js"></script>

</head>

<body>

	<div class="banner">
		<div class="b-img">
			<a style="background:url(/Public/images/index/1.jpg) center no-repeat;">
			</a>
			<a style="background:url(/Public/images/index/2.jpg) center no-repeat;">
			</a>
			<a style="background:url(/Public/images/index/3.jpg) center no-repeat;">
			</a>
			<a style="background:url(/Public/images/index/4.jpg) center no-repeat;">
			</a>
			<a style="background:url(/Public/images/index/5.jpg) center no-repeat;">
			</a>
		</div>
		<div class="b-list"></div>
		<a class="bar bar-left" href="#">
			<em></em>
		</a>
		<a class="bar bar-right" href="#">
			<em></em>
		</a>
	</div>

	<div class="blocks">
		<div class="blockscenter">
			<div class="block1_and_block3">
				<div class="block1_and_block3_background">
					<div class="block1_and_block3_container">
						<div class="block1">
							<div class="column_button">
								<div name="btnChangeCol" class="column_button_selected_sch" control-div="news_school" normal-state="column_button_normal_sch" click-state="column_button_selected_sch" clicked="clicked" onclick="changeColumn(this)">
									<h1>&nbsp校区新闻</h1>
								</div>
								<div name="btnChangeCol" class="column_button_normal_mate" control-div="news_mate" normal-state="column_button_normal_mate" click-state="column_button_selected_mate" onclick="changeColumn(this)">
									<h1>&nbsp校友新闻</h1>
								</div>
								<div name="btnChangeCol" class="column_button_normal_noti" control-div="news_notice" normal-state="column_button_normal_noti" click-state="column_button_selected_noti" onclick="changeColumn(this)">
									<h1>&nbsp通知公告</h1>
								</div>
							</div>
							<!--校区新闻-->
							<div class="column_content" id="news_school">

								<a href="/index.php?c=simpleList&columnid=3" class="b1link">+更多</a>

								<div class="display_news">
									<img class="display_news_picture" src="{$onePicNew.picture_url}" alt="">
									<a class="display_news_title" href="/index.php?c=passage&articleid={$onePicNew.articleid}" target="_blank">{$onePicNew.title}</a>
									<div class="display_news_content">
										<?php echo $contentes = strip_tags($onePicNew['content']) ?>
									</div>


								</div>

							<table class="blocktable">
								<tr>
									<td width="400px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$oneNews[0]['articleid']}" class="blocklinktext0" target="_blank">{$oneNews[0]['title']}</a>
									</td>
									<td width="155px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$oneNews[0]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="400px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$oneNews[1]['articleid']}" class="blocklinktext0" target="_blank">{$oneNews[1]['title']}</a>
									</td>
									<td width="155px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$oneNews[1]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="561.5px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$oneNews[2]['articleid']}" class="blocklinktext0" target="_blank">{$oneNews[2]['title']}</a>
									</td>
									<td width="105px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$oneNews[2]['publishdate']) ?>
										</a>
									</td>
								</tr>
							</table>
							</div>


							<!--校友新闻-->
							<div class="column_content" id="news_mate" style="display:none">

								<a href="/index.php?c=simpleList&columnid=2" class="b1link">+更多</a>

								<div class="display_news">
									<img class="display_news_picture" src="{$twoPicNew['picture_url']}" alt="">
									<a class="display_news_title" href="/index.php?c=passage&articleid={$twoPicNew.articleid}" target="_blank">{$twoPicNew['title']}</a>
									<p class="display_news_content"><?php echo $contentes = strip_tags($twoPicNew['content']) ?></p>

								</div>

							<table class="blocktable">
								<tr>
									<td width="400px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$twoNews[0]['articleid']}" class="blocklinktext0" target="_blank">{$twoNews[0]['title']}</a>
									</td>
									<td width="155px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$twoNews[0]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="400px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$twoNews[1]['articleid']}" class="blocklinktext0" target="_blank">{$twoNews[1]['title']}</a>
									</td>
									<td width="155px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$twoNews[1]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="561.5px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$twoNews[2]['articleid']}" class="blocklinktext0" target="_blank">{$twoNews[2]['title']}</a>
									</td>
									<td width="105px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$twoNews[2]['publishdate']) ?>
										</a>
									</td>
								</tr>
							</table>
							</div>


							<!--通知公告-->
							<div class="column_content" id="news_notice" style="display:none">

								<a href="/index.php?c=simpleList&columnid=4" class="b1link">+更多</a>

								<div class="display_news">
									<img class="display_news_picture" src="{$threePicNew['picture_url']}" alt="">
									<a class="display_news_title" href="/index.php?c=passage&articleid={$threePicNew.articleid}" target="_blank">{$threePicNew['title']}</a>
									<p class="display_news_content"><?php echo $contentes = strip_tags($threePicNew['content']) ?></p>

								</div>

							<table class="blocktable">
								<tr>
									<td width="400px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$threeNews[0]['articleid']}" class="blocklinktext0" target="_blank">{$threeNews[0]['title']}</a>
									</td>
									<td width="155px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$threeNews[0]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="400px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$threeNews[1]['articleid']}" class="blocklinktext0" target="_blank">{$threeNews[1]['title']}</a>
									</td>
									<td width="155px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$threeNews[1]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="561.5px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$threeNews[2]['articleid']}" class="blocklinktext0" target="_blank">{$threeNews[2]['title']}</a>
									</td>
									<td width="105px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$threeNews[2]['publishdate']) ?>
										</a>
									</td>
								</tr>
							</table>
							</div>


						</div>


						<div class="block3">
							<h1 class="newsalumnus">
								<img src="/Public/images/index/contact.png">&nbsp校友通讯</h1>
							<a href="/index.php?c=communication" class="b3link">+更多期刊</a>

							<div class="contact_content">

								<a href="/index.php?c=communication"><div class="contact_picture"></div></a>

								<div class="contact_article">
									<a href="/index.php?c=communication">
									<h1 class="contact_article_title">期刊简介：</h1>
									<p class="contact_article_brief">《哈尔滨工业大学（威海）校友通讯》于2015年创刊，架起了母校与校友沟通的又一座崭新桥梁。 他将向校友们描绘母校的昨日与今朝，报道母校发展和校友活动的动态信息，为各地校友 会和广大校友提供一个与母校心心相系的窗口，一个尽情抒发情怀、寄托思念的园地， 一个展现校友风采、加强交流互动的平台。</p></a>
									<!--<table>-->
										<!--<foreach name="periodical" item="periodicalItems">-->
										<!--<tr>-->
											<!--<td>-->
												<!--<a href="/index.php?c=address&periodicalid={$periodicalItems.periodicalid}" target="_blank">{$periodicalItems.title}</a>-->
											<!--</td>-->
										<!--</tr>-->
									<!--</foreach>-->
									<!--</table>-->
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block2_and_block4">
				<div class="block2_and_block4_container">
					<div class="block2">
						<div class="column_button">
							<div name="btnChangeCol" class="column_button_selected_alumni" control-div="alumni" normal-state="column_button_normal_alumni" click-state="column_button_selected_alumni" clicked="clicked" onclick="changeColumn(this)">
									<h1>&nbsp校友人物</h1>
							</div>

							<div name="btnChangeCol" class="column_button_normal_memory" control-div="hit_memory" normal-state="column_button_normal_memory" click-state="column_button_selected_memory" onclick="changeColumn(this)">
									<h1>&nbsp工大回忆</h1>
							</div>

							<div name="btnChangeCol" class="column_button_normal_organization" control-div="alumni_organization" normal-state="column_button_normal_organization" click-state="column_button_selected_organization" onclick="changeColumn(this)">
									<h1>&nbsp校友组织</h1>
							</div>
						</div>

						<!--校友人物-->
							<div class="column_content" id="alumni">

								<a href="/index.php?c=detailedList&columnid=11" class="b2link">+更多</a>

								<div class="display_news">
									<img class="display_news_picture" src="{$fourPicNew.picture_url}" alt="">
									<a class="display_news_title2" href="/index.php?c=passage&articleid={$fourPicNew.articleid}" target="_blank">{$fourPicNew.title}</a>
									<div class="display_news_content2">
										<?php echo $contentes = strip_tags($fourPicNew['content']) ?>
									</div>


								</div>

							<table class="blocktable">
								<tr>
									<td width="400px" class="buttomline2">
										<a href="/index.php?c=passage&articleid={$fourNews[0]['articleid']}" class="blocklinktext2" target="_blank">{$fourNews[0]['title']}</a>
									</td>
									<td width="155px" class="buttomline2">
										<a href="" class="blocklinktext2">
											<?php echo date("Y-m-d",$fourNews[0]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="400px" class="buttomline2">
										<a href="/index.php?c=passage&articleid={$fourNews[1]['articleid']}" class="blocklinktext2" target="_blank">{$fourNews[1]['title']}</a>
									</td>
									<td width="155px" class="buttomline2">
										<a href="" class="blocklinktext2">
											<?php echo date("Y-m-d",$fourNews[1]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="561.5px" class="buttomline2">
										<a href="/index.php?c=passage&articleid={$fourNews[2]['articleid']}" class="blocklinktext2" target="_blank">{$fourNews[2]['title']}</a>
									</td>
									<td width="105px" class="buttomline2">
										<a href="" class="blocklinktext2">
											<?php echo date("Y-m-d",$fourNews[2]['publishdate']) ?>
										</a>
									</td>
								</tr>
							</table>
							</div>


							<!--工大回忆-->
							<div class="column_content" id="hit_memory" style="display:none">

								<a href="/index.php?c=detailedList&columnid=17" class="b2link">+更多</a>

								<div class="display_news">
									<img class="display_news_picture" src="{$fivePicNew['picture_url']}" alt="">
									<a class="display_news_title2" href="/index.php?c=passage&articleid={$fivePicNew.articleid}" target="_blank">{$fivePicNew['title']}</a>
									<p class="display_news_content2"><?php echo $contentes = strip_tags($fivePicNew['content']) ?></p>

								</div>

							<table class="blocktable">
								<tr>
									<td width="400px" class="buttomline2">
										<a href="/index.php?c=passage&articleid={$fiveNews[0]['articleid']}" class="blocklinktext2" target="_blank">{$fiveNews[0]['title']}</a>
									</td>
									<td width="155px" class="buttomline2">
										<a href="" class="blocklinktext2">
											<?php echo date("Y-m-d",$fiveNews[0]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="400px" class="buttomline2">
										<a href="/index.php?c=passage&articleid={$fiveNews[1]['articleid']}" class="blocklinktext2" target="_blank">{$fiveNews[1]['title']}</a>
									</td>
									<td width="155px" class="buttomline2">
										<a href="" class="blocklinktext2">
											<?php echo date("Y-m-d",$fiveNews[1]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="561.5px" class="buttomline2">
										<a href="/index.php?c=passage&articleid={$fiveNews[2]['articleid']}" class="blocklinktext2" target="_blank">{$fiveNews[2]['title']}</a>
									</td>
									<td width="105px" class="buttomline2">
										<a href="" class="blocklinktext2">
											<?php echo date("Y-m-d",$fiveNews[2]['publishdate']) ?>
										</a>
									</td>
								</tr>
							</table>
							</div>


							<!--校友组织-->
							<div class="column_content" id="alumni_organization" style="display:none">

								<a href="/index.php?c=organization&a=organizationList" class="b2link">+更多</a>

								<div class="organization_content">

									<foreach name="alumniList" item="alumniItems">

										<div class="alumniItemsDiv">
											<a href="/index.php?c=organization&a=otherOrganizationInfo&alumnis_id={$alumniItems.alumnis_id}" class="blocklinktext3" target="_blank">{$alumniItems.title}</a>
										</div>

									</foreach>

									<!-- <table>

									<foreach name="alumniList" item="alumniItems">
										<tr>
											<td>
												<a href="/index.php?c=organization&a=otherOrganizationInfo&alumnis_id={$alumniItems.alumnis_id}" class="blocklinktext3" target="_blank">{$alumniItems.title}</a>
											</td>
										</tr>
									</foreach>

								</table> -->

								</div>
							</div>

					</div>
					<div class="block4">
						<h2 class="enterprise">校友企业</h2>
                        <a href="/index.php?c=enterpriseDetail" class="b4link">+更多企业</a>
							<div class="enterpriseList" id="ca1">
									<table  id="table_1" cellspacing="0px" cellpadding="0px">
										<volist  name="enterpriseListLeft" id="enterpriseItemsLeft" key="k">
											<tr>
												<volist  name="enterpriseList" id="enterpriseItems" offset="2*($k-1)" length='2'>
													<td class="List1" nowrap="nowrap">
														<a href="{$enterpriseItems.enterprise_url}">
															<img class="list_picture" src="{$enterpriseItems.picture_path}" alt="">
															<div class="list_name">{$enterpriseItems.name}</div>
														</a>
													</td>
												</volist>
											</tr>
										</volist>
									</table>
									<table  id="table_2" cellspacing="0px" cellpadding="0px"></table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script language="javascript" type="text/javascript">

		var t1 = document.getElementById('table_1');
		var t2 = document.getElementById('table_2');

		var ca1 = document.getElementById('ca1');

		t2.innerHTML = t1.innerHTML;
	

		var cas1 = null;
	

		window.onload = function(){
			marquee();
		}

		cas1 = setInterval('marquee()', 50);
		  
		function marquee(){
			if(ca1.scrollTop >= t1.offsetHeight){
				ca1.scrollTop = 0;
			}else{
				ca1.scrollTop++;
			}
			ca1.onmouseover = function(){
				clearInterval(cas1);
			}
			ca1.onmouseout = function(){
				cas1 = setInterval('marquee()', 50);
			}

		}
		



        function changeColumn(obj) {
            var col = $(obj);

            //not click
            if (col.prop('clicked') == undefined) {
                // remove current clicked
                var divToHide = null;
                col.parent().children("[name='btnChangeCol']").each(function () {
                    var e = $(this);
                    if (e.attr('clicked') != undefined) {
                        // remove clicked state
                        e.attr('class', e.attr('normal-state'));
                        e.removeAttr('clicked');

                        divToHide = '#' + e.attr('control-div');
                        return false; // break
                    }
                });

                // clicked this
                col.attr('class', col.attr('click-state'));
                col.attr('clicked', 'clicked');
                var divToShow = '#' + col.attr('control-div');

                $(divToHide).fadeOut('fast', function () {
                    $(divToShow).fadeIn('fast');
                });
            }
        }
	</script>

</body>

</html>
<include file="footer" />