<include file="header"/>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>哈尔滨工业大学（威海）校友网</title>
	<link rel="stylesheet" type="text/css" href="/Public/css/index/styles.css" />
	<link rel="stylesheet" type="text/css" href="/Public/css/index/dayi.css" />
	<link rel="stylesheet" type="text/css" href="/Public/css/index/summary.css" />

	<script src="/Public/js/alumni/jquery-1.8.3.min.js"></script>
	<script src="/Public/js/alumni/banner.js"></script>
	<script src="/Public/js/alumni/menuFix.js"></script>

</head>

<body>

	<div class="banner">
		<div class="b-img">
			<a><img src="/Public/images/index/1.jpg"></a>
			<a><img src="/Public/images/index/2.jpg"></a>
			<a><img src="/Public/images/index/3.jpg"></a>
			<a><img src="/Public/images/index/4.jpg"></a>
			<a><img src="/Public/images/index/5.jpg"></a>
		</div>
		<div class="b-list"></div>
		<a class="bar bar-left" href="#">
			<em></em>
		</a>
		<a class="bar bar-right" href="#">
			<em></em>
		</a>
	</div>

	<div class="blocks">
		<div class="blockscenter">
			<div class="block1_and_block3">
				<div class="block1_and_block3_background">
					<div class="block1_and_block3_container">
						<div class="block1">
							<div class="column_button">
								<div name="btnChangeCol" class="column_button_selected_sch" control-div="news_school" normal-state="column_button_normal_sch" click-state="column_button_selected_sch" clicked="clicked" onclick="changeColumn(this)">
									<h1>&nbsp校区新闻</h1>
								</div>
								<div name="btnChangeCol" class="column_button_normal_mate" control-div="news_mate" normal-state="column_button_normal_mate" click-state="column_button_selected_mate" onclick="changeColumn(this)">
									<h1>&nbsp校友新闻</h1>
								</div>
								<div name="btnChangeCol" class="column_button_normal_noti" control-div="news_notice" normal-state="column_button_normal_noti" click-state="column_button_selected_noti" onclick="changeColumn(this)">
									<h1>&nbsp通知公告</h1>
								</div>
							</div>
							<!--校区新闻-->
							<div class="column_content" id="news_school">
								
								<a href="/index.php?c=simpleList&columnid=3" class="b1link">+更多</a>

								<div class="display_news">
									<img class="display_news_picture" src="{$onePicNew.picture_url}" alt="">
									<a class="display_news_title" href="/index.php?c=passage&articleid={$onePicNew.articleid}">{$onePicNew.title}</a>
									<div class="display_news_content">
										<?php echo $contentes = strip_tags($onePicNew['content']) ?>
									</div>
									

								</div>

							<table class="blocktable">
								<tr>
									<td width="400px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$oneNews[0]['articleid']}" class="blocklinktext0">{$oneNews[0]['title']}</a>
									</td>
									<td width="155px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$oneNews[0]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="400px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$oneNews[1]['articleid']}" class="blocklinktext0">{$oneNews[1]['title']}</a>
									</td>
									<td width="155px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$oneNews[1]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="561.5px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$oneNews[2]['articleid']}" class="blocklinktext0">{$oneNews[2]['title']}</a>
									</td>
									<td width="105px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$oneNews[2]['publishdate']) ?>
										</a>
									</td>
								</tr>
							</table>
							</div>


							<!--校友新闻-->
							<div class="column_content" id="news_mate" style="display:none">
								
								<a href="/index.php?c=simpleList&columnid=2" class="b1link">+更多</a>

								<div class="display_news">
									<img class="display_news_picture" src="{$twoPicNew['picture_url']}" alt="">
									<a class="display_news_title" href="/index.php?c=passage&articleid={$twoPicNew.articleid}">{$twoPicNew['title']}</a>
									<p class="display_news_content"><?php echo $contentes = strip_tags($twoPicNew['content']) ?></p>

								</div>

							<table class="blocktable">
								<tr>
									<td width="400px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$twoNews[0]['articleid']}" class="blocklinktext0">{$twoNews[0]['title']}</a>
									</td>
									<td width="155px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$twoNews[0]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="400px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$twoNews[1]['articleid']}" class="blocklinktext0">{$twoNews[1]['title']}</a>
									</td>
									<td width="155px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$twoNews[1]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="561.5px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$twoNews[2]['articleid']}" class="blocklinktext0">{$twoNews[2]['title']}</a>
									</td>
									<td width="105px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$twoNews[2]['publishdate']) ?>
										</a>
									</td>
								</tr>
							</table>
							</div>


							<!--通知公告-->
							<div class="column_content" id="news_notice" style="display:none">
								
								<a href="/index.php?c=simpleList&columnid=4" class="b1link">+更多</a>

								<div class="display_news">
									<img class="display_news_picture" src="{$threePicNew['picture_url']}" alt="">
									<a class="display_news_title" href="/index.php?c=passage&articleid={$threePicNew.articleid}">{$threePicNew['title']}</a>
									<p class="display_news_content"><?php echo $contentes = strip_tags($threePicNew['content']) ?></p>

								</div>

							<table class="blocktable">
								<tr>
									<td width="400px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$threeNews[0]['articleid']}" class="blocklinktext0">{$threeNews[0]['title']}</a>
									</td>
									<td width="155px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$threeNews[0]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="400px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$threeNews[1]['articleid']}" class="blocklinktext0">{$threeNews[1]['title']}</a>
									</td>
									<td width="155px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$threeNews[1]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="561.5px" class="buttomline">
										<a href="/index.php?c=passage&articleid={$threeNews[2]['articleid']}" class="blocklinktext0">{$threeNews[2]['title']}</a>
									</td>
									<td width="105px" class="buttomline">
										<a href="" class="blocklinktext0">
											<?php echo date("Y-m-d",$threeNews[2]['publishdate']) ?>
										</a>
									</td>
								</tr>
							</table>
							</div>


						</div>


						<div class="block3">
							<h1 class="newsalumnus">
								<img src="/Public/images/index/contact.png">&nbsp校友通讯</h1>
							<a href="/index.php?c=communication" class="b3link">+更多</a>

							<div class="contact_content">

								<div class="contact_picture"></div>

								<div class="contact_article">

									<table>
										<foreach name="periodical" item="periodicalItems">
										<tr>
											<td>
												<a href="/index.php?c=address&periodicalid={$periodicalItems.periodicalid}">{$periodicalItems.title}</a>
											</td>
										</tr>
									</foreach>
									</table>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block2_and_block4">
				<div class="block2_and_block4_container">
					<div class="block2">
						<div class="column_button">
							<div name="btnChangeCol" class="column_button_selected_alumni" control-div="alumni" normal-state="column_button_normal_alumni" click-state="column_button_selected_alumni" clicked="clicked" onclick="changeColumn(this)">
									<h1>&nbsp校友人物</h1>
							</div>

							<div name="btnChangeCol" class="column_button_normal_memory" control-div="hit_memory" normal-state="column_button_normal_memory" click-state="column_button_selected_memory" onclick="changeColumn(this)">
									<h1>&nbsp工大回忆</h1>
							</div>

							<div name="btnChangeCol" class="column_button_normal_organization" control-div="alumni_organization" normal-state="column_button_normal_organization" click-state="column_button_selected_organization" onclick="changeColumn(this)">
									<h1>&nbsp校友组织</h1>
							</div>
						</div>

						<!--校友人物-->
							<div class="column_content" id="alumni">
								
								<a href="/index.php?c=detailedList&columnid=11" class="b2link">+更多</a>

								<div class="display_news">
									<img class="display_news_picture" src="{$fourPicNew.picture_url}" alt="">
									<a class="display_news_title2" href="/index.php?c=passage&articleid={$fourPicNew.articleid}">{$fourPicNew.title}</a>
									<div class="display_news_content2">
										<?php echo $contentes = strip_tags($fourPicNew['content']) ?>
									</div>
									

								</div>

							<table class="blocktable">
								<tr>
									<td width="400px" class="buttomline2">
										<a href="/index.php?c=passage&articleid={$fourNews[0]['articleid']}" class="blocklinktext2">{$fourNews[0]['title']}</a>
									</td>
									<td width="155px" class="buttomline2">
										<a href="" class="blocklinktext2">
											<?php echo date("Y-m-d",$fourNews[0]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="400px" class="buttomline2">
										<a href="/index.php?c=passage&articleid={$fourNews[1]['articleid']}" class="blocklinktext2">{$fourNews[1]['title']}</a>
									</td>
									<td width="155px" class="buttomline2">
										<a href="" class="blocklinktext2">
											<?php echo date("Y-m-d",$fourNews[1]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="561.5px" class="buttomline2">
										<a href="/index.php?c=passage&articleid={$fourNews[2]['articleid']}" class="blocklinktext2">{$fourNews[2]['title']}</a>
									</td>
									<td width="105px" class="buttomline2">
										<a href="" class="blocklinktext2">
											<?php echo date("Y-m-d",$fourNews[2]['publishdate']) ?>
										</a>
									</td>
								</tr>
							</table>
							</div>


							<!--工大回忆-->
							<div class="column_content" id="hit_memory" style="display:none">
								
								<a href="/index.php?c=detailedList&columnid=17" class="b2link">+更多</a>

								<div class="display_news">
									<img class="display_news_picture" src="{$fivePicNew['picture_url']}" alt="">
									<a class="display_news_title2" href="/index.php?c=passage&articleid={$fivePicNew.articleid}">{$fivePicNew['title']}</a>
									<p class="display_news_content2"><?php echo $contentes = strip_tags($fivePicNew['content']) ?></p>

								</div>

							<table class="blocktable">
								<tr>
									<td width="400px" class="buttomline2">
										<a href="/index.php?c=passage&articleid={$fiveNews[0]['articleid']}" class="blocklinktext2">{$fiveNews[0]['title']}</a>
									</td>
									<td width="155px" class="buttomline2">
										<a href="" class="blocklinktext2">
											<?php echo date("Y-m-d",$fiveNews[0]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="400px" class="buttomline2">
										<a href="/index.php?c=passage&articleid={$fiveNews[1]['articleid']}" class="blocklinktext2">{$fiveNews[1]['title']}</a>
									</td>
									<td width="155px" class="buttomline2">
										<a href="" class="blocklinktext2">
											<?php echo date("Y-m-d",$fiveNews[1]['publishdate']) ?>
										</a>
									</td>
								</tr>
								<tr>
									<td width="561.5px" class="buttomline2">
										<a href="/index.php?c=passage&articleid={$fiveNews[2]['articleid']}" class="blocklinktext2">{$fiveNews[2]['title']}</a>
									</td>
									<td width="105px" class="buttomline2">
										<a href="" class="blocklinktext2">
											<?php echo date("Y-m-d",$fiveNews[2]['publishdate']) ?>
										</a>
									</td>
								</tr>
							</table>
							</div>


							<!--校友组织-->
							<div class="column_content" id="alumni_organization" style="display:none">
								
								<a href="/index.php?c=organization&a=organizationList" class="b2link">+更多</a>

								<div class="organization_content">

									<table>

									<foreach name="alumniList" item="alumniItems">
										<tr>
											<td>
												<a href="/index.php?c=organization&a=otherOrganizationInfo&alumnis_id={$alumniItems.alumnis_id}" class="blocklinktext3">{$alumniItems.title}</a>
											</td>
										</tr>
									</foreach>

								</table>

								</div>
							</div>

					</div>
					<div class="block4">
						<h2 class="donatethanks">捐赠鸣谢</h2>
						<div class="donateList">
							<table class="donateTable" cellspacing="0" cellpadding="0">

								<!--生成捐赠列表-->
								<foreach name="donationsList" item="donationItems">
									<tr>
										<td class="listName">{$donationItems.name}</td>
										<td class="listMoney">{$donationItems.amount}</td>
									</tr>
								</foreach>

							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script language="javascript" type="text/javascript">

        function changeColumn(obj) {
            var col = $(obj);

            // not click
            if (col.prop('clicked') == undefined) {
                // remove current clicked
                var divToHide = null;
                col.parent().children("[name='btnChangeCol']").each(function () {
                    var e = $(this);
                    if (e.attr('clicked') != undefined) {
                        // remove clicked state
                        e.attr('class', e.attr('normal-state'));
                        e.removeAttr('clicked');

                        divToHide = '#' + e.attr('control-div');
                        return false; // break
                    }
                });

                // clicked this
                col.attr('class', col.attr('click-state'));
                col.attr('clicked', 'clicked');
                var divToShow = '#' + col.attr('control-div');

                $(divToHide).fadeOut('fast', function () {
                    $(divToShow).fadeIn('fast');
                });
            }
        }
	</script>

</body>

</html>
<include file="footer" />