<include file="header"/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哈尔滨工业大学（威海）校友网</title>
    <link rel="stylesheet" type="text/css" href="/Public/css/index/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/Public/css/index/dayi.css"/>
    <link rel="stylesheet" type="text/css" href="/Public/css/index/summary.css"/>

    <script src="/Public/js/alumni/jquery-1.8.3.min.js"></script>
    <script src="/Public/js/alumni/banner.js"></script>
    <script src="/Public/js/alumni/menuFix.js"></script>

</head>
<body>

<div class="banner">
    <div class="b-img">
        <a href="/index.php?c=passage&articleid={$campusNews[0]['articleid']}" style="background:url(/Public/images/index/1.jpg) center no-repeat;">
            <div class="summary">
                <p class="s_title">{$campusNews[0]['title']}</p>
                <p class="s_writer"></p>
                <p class="s_article"><?php echo strip_tags($campusNews[0]['content']) ?></p>
            </div>
        </a>
        <a href="/index.php?c=passage&articleid={$alumniNews[0]['articleid']}" style="background:url(/Public/images/index/2.jpg) center no-repeat;">
            <div class="summary">
                <p class="s_title">{$alumniNews[0]['title']}</p>
                <p class="s_writer"></p>
                <p class="s_article"><?php echo strip_tags($alumniNews[0]['content']) ?></p>
            </div>
        </a>
        <a href="/index.php?c=passage&articleid={$noticeNews[0]['articleid']}" style="background:url(/Public/images/index/3.jpg) center no-repeat;">
            <div class="summary">
                <p class="s_title">{$noticeNews[0]['title']}</p>
                <p class="s_writer"></p>
                <p class="s_article"><?php echo strip_tags($noticeNews[0]['content']) ?></p>
            </div>
        </a>
        <a href="/index.php?c=passage&articleid={$campusNews[1]['articleid']}" style="background:url(/Public/images/index/4.jpg) center no-repeat;">
            <div class="summary">
                <p class="s_title">{$campusNews[1]['title']}</p>
                <p class="s_writer"></p>
                <p class="s_article"><?php echo strip_tags($campusNews[0]['content']) ?></p>
            </div>
        </a>
        <a href="/index.php?c=passage&articleid={$alumniNews[1]['articleid']}" style="background:url(/Public/images/index/5.jpg) center no-repeat;">
            <div class="summary">
                <p class="s_title">{$alumniNews[1]['title']}</p>
                <p class="s_writer"></p>
                <p class="s_article"><?php echo strip_tags($alumniNews[0]['content']) ?></p>
            </div>
        </a>
    </div>
    <div class="b-list"></div>
    <a class="bar-left" href="#"><em></em></a>
    <a class="bar-right" href="#"><em></em></a>
</div>



<div class="blocks">
    <div class="blockscenter">
        <div class="block1">
             <h1 class="newsweihai">校区新闻</h1>
                <a href="/index.php?c=simpleList&columnid=3" class="b1link">+更多</a>
                <table class="blocktable">
                     <tr>
                         <td width="375px" class="buttomline"><a href="/index.php?c=passage&articleid={$campusNews[0]['articleid']}" class="blocklinktext">{$campusNews[0]['title']}</a></td>
                        <td width="100px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$campusNews[0]['publishdate']) ?></a></td>
                    </tr>
                    <tr>
                        <td width="375px" class="buttomline"><a href="/index.php?c=passage&articleid={$campusNews[1]['articleid']}" class="blocklinktext">{$campusNews[1]['title']}</a></td>
                        <td width="100px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$campusNews[1]['publishdate']) ?></a></td>
                    </tr>
                    <tr>
                        <td width="375px" class="buttomline"><a href="/index.php?c=passage&articleid={$campusNews[2]['articleid']}" class="blocklinktext">{$campusNews[2]['title']}</a></td>
                        <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$campusNews[2]['publishdate']) ?></a></td>
                    </tr>
                    <tr>
                        <td width="375px" class="buttomline"><a href="/index.php?c=passage&articleid={$campusNews[3]['articleid']}" class="blocklinktext">{$campusNews[3]['title']}</a></td>
                        <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$campusNews[3]['publishdate']) ?></a></td>
                    </tr>
                    <tr>
                        <td width="375px" class="buttomline"><a href="/index.php?c=passage&articleid={$campusNews[4]['articleid']}" class="blocklinktext">{$campusNews[4]['title']}</a></td>
                        <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$campusNews[4]['publishdate']) ?></a></td>
                    </tr>
                    <tr>
                        <td width="375px" class="buttomline"><a width="375px" href="/index.php?c=passage&articleid={$campusNews[5]['articleid']}" class="blocklinktext">{$campusNews[5]['title']}</a></td>
                        <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$campusNews[5]['publishdate']) ?></a></td>
                    </tr>
                    <tr>
                        <td width="375px" class="buttomline"><a href="/index.php?c=passage&articleid={$campusNews[6]['articleid']}" class="blocklinktext">{$campusNews[6]['title']}</a></td>
                        <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$campusNews[6]['publishdate']) ?></a></td>
                    </tr>
                    <tr>
                        <td width="375px" class="buttomline"><a href="/index.php?c=passage&articleid={$campusNews[7]['articleid']}" class="blocklinktext">{$campusNews[7]['title']}</a></td>
                        <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$campusNews[7]['publishdate']) ?></a></td>
                    </tr>
                </table>
        </div>
        <div class="block3">
            <h1 class="newsalumnus">校友新闻</h1>
            <a href="/index.php?c=simpleList&columnid=2" class="b3link">+更多</a>
            <table class="blocktable">
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$alumniNews[0]['articleid']}" class="blocklinktext">{$alumniNews[0]['title']}</a></td>
                    <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$alumniNews[0]['publishdate']) ?></a></td>
                </tr>
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$alumniNews[1]['articleid']}" class="blocklinktext">{$alumniNews[1]['title']}</a></td>
                    <td width="155px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$alumniNews[1]['publishdate']) ?></a></td>
                </tr>
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$alumniNews[2]['articleid']}" class="blocklinktext">{$alumniNews[2]['title']}</a></td>
                    <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$alumniNews[2]['publishdate']) ?></a></td>
                </tr>
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$alumniNews[3]['articleid']}" class="blocklinktext">{$alumniNews[3]['title']}</a></td>
                    <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$alumniNews[3]['publishdate']) ?></a></td>
                </tr>
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$alumniNews[4]['articleid']}" class="blocklinktext">{$alumniNews[4]['title']}</a></td>
                    <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$alumniNews[4]['publishdate']) ?></a></td>
                </tr>
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$alumniNews[5]['articleid']}" class="blocklinktext">{$alumniNews[5]['title']}</a></td>
                    <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$alumniNews[5]['publishdate']) ?></a></td>
                </tr>
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$alumniNews[6]['articleid']}" class="blocklinktext">{$alumniNews[6]['title']}</a></td>
                    <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$alumniNews[6]['publishdate']) ?></a></td>
                </tr>
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$alumniNews[7]['articleid']}" class="blocklinktext">{$alumniNews[7]['title']}</a></td>
                    <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$alumniNews[7]['publishdate']) ?></a></td>
                </tr>
            </table>
        </div>
        <div class="block2">
            <h1 class="infos">通知公告</h1>
            <a href="/index.php?c=simpleList&columnid=4" class="b2link">+更多</a>
            <table class="blocktable">
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$noticeNews[0]['articleid']}" class="blocklinktext">{$noticeNews[0]['title']}</a></td>
                    <td width="155px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$noticeNews[0]['publishdate']) ?></a></td>
                </tr>
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$noticeNews[1]['articleid']}" class="blocklinktext">{$noticeNews[1]['title']}</a></td>
                    <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$noticeNews[1]['publishdate']) ?></a></td>
                </tr>
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$noticeNews[2]['articleid']}" class="blocklinktext">{$noticeNews[2]['title']}</a></td>
                    <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$noticeNews[2]['publishdate']) ?></a></td>
                </tr>
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$noticeNews[3]['articleid']}" class="blocklinktext">{$noticeNews[3]['title']}</a></td>
                    <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$noticeNews[3]['publishdate']) ?></a></td>
                </tr>
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$noticeNews[4]['articleid']}" class="blocklinktext">{$noticeNews[4]['title']}</a></td>
                    <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$noticeNews[4]['publishdate']) ?></a></td>
                </tr>
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$noticeNews[5]['articleid']}" class="blocklinktext">{$noticeNews[5]['title']}</a></td>
                    <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$noticeNews[5]['publishdate']) ?></a></td>
                </tr>
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$noticeNews[6]['articleid']}" class="blocklinktext">{$noticeNews[6]['title']}</a></td>
                    <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$noticeNews[6]['publishdate']) ?></a></td>
                </tr>
                <tr>
                    <td width="561.5px" class="buttomline"><a href="/index.php?c=passage&articleid={$noticeNews[7]['articleid']}" class="blocklinktext">{$noticeNews[7]['title']}</a></td>
                    <td width="105px" class="buttomline"><a href="" class="blocklinktext"><?php echo date("Y-m-d",$noticeNews[7]['publishdate']) ?></a></td>
                </tr>
            </table>
        </div>
        <div class="block4">
            <h1 class="donatethanks" >捐赠鸣谢</h1>
            <div class="donateList">
            <table class="donateTable" cellspacing="0" cellpadding="0">
                
            <!--生成捐赠列表-->
            <foreach name="donations" item = "donationItems">
                <tr>
                    <td class="listName">{$donationItems.name}</td>
                    <td class="listMoney">{$donationItems.amount}</td>
                </tr>
            </foreach>
            
            </table>
            </div>
        </div>
    </div>
</div>

<div class="alumnus">
    <div class="alumnuscenter"><h1 class="alumnustitle">|校友人物|</h1>
        <div class="alumnusoutside">
            <div class="alumnusin1">
                <a href="/index.php?c=passage&articleid={$alumniPerson[0]['articleid']}" class="alumnuslink">
                <img src="{$alumniPerson[0].picture_url}" class="alumnuspics">
                <h1 class="alumnustitle1">{$alumniPerson[0].title}</h1><p class="altime"><?php echo date("Y-m-d",$alumniPerson[0]['publishdate']) ?></p>
                <p class="alumnustext"><?php echo $contentes = strip_tags($alumniPerson[0]['content']) ?></p>

                </a>
            </div>
            <div class="alumnusin2">
                <a href="/index.php?c=passage&articleid={$alumniPerson[1]['articleid']}" class="alumnuslink"><img src="{$alumniPerson[1].picture_url}" class="alumnuspics">
                    <h1 class="alumnustitle1">{$alumniPerson[1].title}</h1><p class="altime"><?php echo date("Y-m-d",$alumniPerson[1]['publishdate']) ?></p>
                    <p class="alumnustext"><?php echo $contentes = strip_tags($alumniPerson[1]['content']) ?></p>

                </a></div>
            <div class="alumnusin3">
                <a href="/index.php?c=passage&articleid={$alumniPerson[2]['articleid']}" class="alumnuslink"><img src="{$alumniPerson[2].picture_url}" class="alumnuspics">
                    <h1 class="alumnustitle1">{$alumniPerson[2].title}</h1><p class="altime"><?php echo date("Y-m-d",$alumniPerson[2]['publishdate']) ?></p>
                    <p class="alumnustext"><?php echo $contentes = strip_tags($alumniPerson[2]['content']) ?></p>

                </a></div>
            <div class="alumnusin4">
                <a href="/index.php?c=passage&articleid={$alumniPerson[3]['articleid']}" class="alumnuslink"><img src="{$alumniPerson[3].picture_url}" class="alumnuspics">
                    <h1 class="alumnustitle1">{$alumniPerson[3].title}</h1><p class="altime"><?php echo date("Y-m-d",$alumniPerson[3]['publishdate']) ?></p>
                    <p class="alumnustext"><?php echo $contentes = strip_tags($alumniPerson[3]['content']) ?></p>

                </a></div>
            <div class="alumnusin5">
                <a href="/index.php?c=passage&articleid={$alumniPerson[4]['articleid']}" class="alumnuslink"><img src="{$alumniPerson[4].picture_url}" class="alumnuspics">
                    <h1 class="alumnustitle1">{$alumniPerson[4].title}</h1><p class="altime"><?php echo date("Y-m-d",$alumniPerson[4]['publishdate']) ?></p>
                    <p class="alumnustext"><?php echo $contentes = strip_tags($alumniPerson[4]['content']) ?></p>

                </a></div>
            <div class="alumnusin6">
                <a href="/index.php?c=passage&articleid={$alumniPerson[5]['articleid']}" class="alumnuslink"><img src="{$alumniPerson[5].picture_url}" class="alumnuspics">
                    <h1 class="alumnustitle1">{$alumniPerson[5].title}</h1><p class="altime"><?php echo date("Y-m-d",$alumniPerson[5]['publishdate']) ?></p>
                    <p class="alumnustext"><?php echo $contentes = strip_tags($alumniPerson[5]['content']) ?></p>
                </a></div>
        </div>
    </div>
</div>

<div class="reminding">
    <div class="remindcenter">
        <h1 class="remindtitle">|工大回忆|</h1>
        <div class="remindpicnews"><a href="/index.php?c=passage&articleid={$campusBeauty[0]['articleid']}" class="remindlink"><img src="{$campusBeauty[0].picture_url}" width="400px" height="280px">
            <p class="remindpicnewstxt">{$campusBeauty[0].title}</p></a>
        </div>
        <table class="remindnews" cellspacing="0" cellpadding="0">
            <tr>
                <td width="300px"></td>
                <td width="105px"></td>
            </tr>
            <tr>
                <td height="30px"><a href="/index.php?c=passage&articleid={$hitMemory[0]['articleid']}" class="remindlink">{$hitMemory[0].title}</a></td>
                <td><a href="" class="remindlink"><?php echo date("Y-m-d",$hitMemory[0]['publishdate']) ?></a></td>
            </tr>
            <tr>
                <td height="30px"><a href="/index.php?c=passage&articleid={$hitMemory[1]['articleid']}" class="remindlink">{$hitMemory[1].title}</a></td>
                <td><a href="" class="remindlink"><?php echo date("Y-m-d",$hitMemory[1]['publishdate']) ?></a></td>
            </tr>
            <tr>
                <td height="30px"><a href="/index.php?c=passage&articleid={$hitMemory[2]['articleid']}" class="remindlink">{$hitMemory[2].title}</td>
                <td><a href="" class="remindlink"><?php echo date("Y-m-d",$hitMemory[2]['publishdate']) ?></a></td>
            </tr>
            <tr>
                <td height="30px"><a href="/index.php?c=passage&articleid={$hitMemory[3]['articleid']}" class="remindlink">{$hitMemory[3].title}</td>
                <td><a href="" class="remindlink"><?php echo date("Y-m-d",$hitMemory[3]['publishdate']) ?></a></td>
            </tr>
            <tr>
                <td height="30px"><a href="/index.php?c=passage&articleid={$hitMemory[4]['articleid']}" class="remindlink">{$hitMemory[4].title}</td>
                <td><a href="" class="remindlink"><?php echo date("Y-m-d",$hitMemory[4]['publishdate']) ?></a></td>
            </tr>
            <tr>
                <td height="30px"><a href="/index.php?c=passage&articleid={$hitMemory[5]['articleid']}" class="remindlink">{$hitMemory[5].title}</td>
                <td><a href="" class="remindlink"><?php echo date("Y-m-d",$hitMemory[5]['publishdate']) ?></a></td>
            </tr>
            <tr>
                <td height="30px"><a href="/index.php?c=passage&articleid={$hitMemory[6]['articleid']}" class="remindlink">{$hitMemory[6].title}</td>
                <td><a href="" class="remindlink"><?php echo date("Y-m-d",$hitMemory[6]['publishdate']) ?></a></td>
            </tr>
            <tr>
                <td height="30px"><a href="/index.php?c=passage&articleid={$hitMemory[7]['articleid']}" class="remindlink">{$hitMemory[7].title}</td>
                <td><a href="" class="remindlink"><?php echo date("Y-m-d",$hitMemory[7]['publishdate']) ?></a></td>
            </tr>
            <tr>
                <td height="30px"><a href="/index.php?c=passage&articleid={$hitMemory[8]['articleid']}" class="remindlink">{$hitMemory[8].title}</td>
                <td><a href="" class="remindlink"><?php echo date("Y-m-d",$hitMemory[8]['publishdate']) ?></a></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
<include file="footer"/>