
#headerBackgroundColor{
    z-index: 997;
    height: 80px;
    width: 100%;
    background-color: #0d184e;
}

#logoDivHeaderImg{
    z-index: 999;
    padding-top: 15px;
    padding-left: 100px;
    height: 57px;
    position: absolute;
}

#navi{
    position: absolute;
    width: 1000px;
    height: 40px;
    float: left;
    /*left: 900px;*/
    right: 0px;
    top: 30px;

}

#headerSearch{
    position: absolute;
    z-index: 999;
    right: 20px;
    width: 150px;
    height: 25px;
    border-radius: 20px;
    margin-top: 5px;
    border: 2px solid #fff
}

#headerSearch input{
    margin-left: 10%;
    width: 60%;
    height: 25px;
    color:#fff;
    margin-top: 0;
}

#headerSearch img{
    position: absolute;
    top: 3px;
    right: 10px;
    width: 18px;
    height: 18px;

}

#headerMenu
{
    z-index: 998;
    position: absolute;
    /*float: left;*/
    right: 180px;
}

#headerMenu ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

.headerImg{
    height: 50px;
}

#headerMenu ul li
{
    height: auto;
    float:left;
    text-align: center;
}

/*#headerMenu ul li:hover{
    border-top: solid 1px #fff;
    
}*/

#headerMenu ul li a
{
    display:block;
    font-size: 16px;
    line-height: 37px;
    width:90px;
    font-weight:bold;
    color:#FFFFFF;
    text-align:center;
    padding:0px;
    text-decoration:none;
    text-transform:uppercase;
}

#headerMenu ul li a:hover,a:active
{
    background-color: rgba(0,0,0,0.4);
}

#headerMenu ul li ul{
    display: none;
}

#headerMenu ul li.listshow ul{
    display: block;
}

#headerMenu ul li ul li{
    float: none;
    background-color: rgb(13,24,78);
    width: 90px;
    margin: 0;
    height: 37px;
    line-height: 37px;
    border-bottom: #000;
}




