
/*banner*/
.reminding{
    width: 100%;
    height: 550px;
    background-color: rgb(242,242,242);
}
.remindcenter{
    margin: auto;
    width: 1000px;
    height: 550px;
    background-color: rgb(242,242,242);
    color: rgb(13,20,39);
    position: relative;
}
.remindtitle{
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-family: 'Microsoft Yahei';
    position: relative;
    top: 35px;
    color: #132478;
}
.remindpicnews{
    width: 400px;
    height: 250px;
    position: absolute;
    top: 120px;
    left: 0px;
}
.remindpicnewstxt{
    margin: 0px;
    font-size: 20px;
    left: 0px;
    font-family: 'Microsoft Yahei';
    float: left;
    color: #132478;
}
.remindlink{
    text-decoration: none;
    color: #132478;
}
.remindnews{
    width: 650px;
    border: none;
    font-size: 15px;
    font-family: 'Microsoft Yahei';
    position: absolute;
    top: 120px;
    left: 430px;
    color: #132478;
}

/*工大回忆*/
.alumnus{
    width: 100%;
    height: 1100px;
}
.alumnuscenter{
    margin: auto;
    width: 1000px;
    height: 1100px;
    position: relative;
}
.alumnustitle{
    margin: auto;
    text-align: center;
    font-family: 'Microsoft Yahei';
    font-weight: normal;
    font-size: 30px;
    position: relative;
    color: #132478;
    top: 35px;
}
.alumnusoutside{
    width: 1000px;
    height: 900px;
    position: absolute;
    top: 110px;
    left: 0px;
    box-shadow: 3px 3px 50px #dfdfdf;
    border-radius: 10px;
    overflow: hidden;
}
.alumnusin1{
    background-color: rgb(242, 242, 242);
    height: 300px;
    width: 500px;
    padding: 0px;
    position: absolute;
}
.alumnusin2{
    height: 300px;
    width: 500px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 500px;
    background: rgba(19,36,120,0.9);
}
.alumnusin3{
    height: 300px;
    width: 500px;
    padding: 0px;
    position: absolute;
    top: 300px;
    left: 0px;
    background: rgba(19,36,120,0.9);
}
.alumnusin4{
    background-color: rgb(242,242,242);
    height: 300px;
    width: 500px;
    padding: 0px;
    position: absolute;
    top: 300px;
    left: 500px;
}
.alumnusin5{
    background-color: rgb(242,242,242);
    height: 300px;
    width: 500px;
    padding: 0px;
    position: absolute;
    top: 600px;
    left: 0px;
}
.alumnusin6{
    height: 300px;
    width: 500px;
    padding: 0px;
    position: absolute;
    top: 600px;
    left: 500px;
   background: rgba(19,36,120,0.9);
}
.alumnuspics{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 60px;
    left: 35px;
}
.alumnustitle1{
    font-family: 'Microsoft Yahei';
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    overflow: hidden;
    width: 450px;
    margin: 0px;
    margin-bottom: 10px;
    color: white;
    position: absolute;
    top: 15px;
    left: 35px;
}
.alumnustext{
    width: 220px;
    height: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    position: absolute;
    top: 100px;
    left: 260px;
    color: white;
}
.altime{
    position: absolute;
    top: 50px;
    right: 30px;
    font-size: 15px;
    color: white;
}
.alumnustitle0{
    font-family: 'Microsoft Yahei';
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    overflow: hidden;
    width: 450px;
    margin: 0px;
    margin-bottom: 10px;
    color: #132478;
    position: absolute;
    top: 15px;
    left: 35px;
}
.alumnustext0{
    width: 220px;
    height: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    position: absolute;
    top: 100px;
    left: 260px;
    color: #132478;
}
.altime0{
    position: absolute;
    top: 50px;
    right: 30px;
    font-size: 15px;
    color: #132478;
}
.alumnuslink{
    text-decoration: none;
    color: black;
}
/*校友人物*/
.blocks{
    width: 100%;
    height: 780px;
    background-color: rgb(243,243,243);
}
.blockscenter{
    margin: auto;
    width: 100%;
    height: 780px;
    position: relative;
}
.block1_and_block3_background{
    width: 100%;
    position: relative;
    height: 390px;
    background: rgba(13,24,78,0.85);
}
.block1_and_block3_container{
    position: relative;
    width: 1000px;
    height: 390px;
    margin: 0 auto;
}
.block2_and_block4_container{
    position: relative;
    width: 1000px;
    height: 390px;
    margin: 0 auto;
}
.block1_and_block3{
    background:url(/Public/images/donation/topimage.jpg) 0px 0px no-repeat ;
    width: 100%;
    position: relative;
    height: 390px;
}
.block2_and_block4{
    background-color: rgb(243,243,243);
    width: 100%;
    height: 390px;
}
.block1{
    width: 470px;
    height: 320px;
    position: absolute;
    top: 25px;
    left: 0px;
    border: 1px solid white;
}
.block2{
    width: 470px;
    height: 320px;
    position: absolute;
    top: 25px;
    left: 0;
    border: 1px solid #132478;
}
.block3{
    width: 470px;
    height: 320px;
    position: absolute;
    top: 25px;
    right: 0px;

    border: 1px solid white;
}
.block4{
    width: 470px;
    height: 320px;
    position: absolute;
    top: 25px;
    right: 0;
}

.column_button{
    height: 30px;
    width: 400px;
}

.column_button h1{
    font-size: 18px;
    font-family: 'Microsoft Yahei';
    font-weight: normal;
    line-height: 30px;
    float: right;
    padding-right: 15px;
    cursor: pointer;
}

.column_button_selected_sch{
    float: left;
    margin: 0px;
    height: 30px;
    width: 120px;
    line-height: 30px;
    color: #132478;
    border: 1px rgb(243,243,243) solid;
    background: rgb(243,243,243) url('/Public/images/index/news_sch_blue.png') no-repeat;
    background-position: 9% 50%;
    background-size: 15px 15px;
}

.column_button_normal_sch{
    float: left;
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Microsoft Yahei';
    height: 30px;
    width: 120px;
    line-height: 30px;
    color: rgb(243,243,243);
    border: 1px rgb(243,243,243) solid;
    background: #0d184e url('/Public/images/index/news_sch_white.png') no-repeat; 
    background-position: 9% 50%;
    background-size: 15px 15px;

}

.column_button_selected_mate{
    float: left;
    margin: 0px;
    height: 30px;
    width: 120px;
    line-height: 30px;
    color: #132478;
    border: 1px rgb(243,243,243) solid;
    background: rgb(243,243,243) url('/Public/images/index/news_mate_blue.png') no-repeat left;
    background-size: 15px 15px;
    background-position: 9% 50%;
}

.column_button_normal_mate{
    float: left;
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Microsoft Yahei';
    height: 30px;
    width: 120px;
    line-height: 30px;
    color: rgb(243,243,243);
    border: 1px rgb(243,243,243) solid;
    background: #0d184e url('/Public/images/index/news_mate_white.png') no-repeat left; 
    background-size: 15px 15px;
    background-position: 9% 50%;

}

.column_button_selected_noti{
    float: left;
    margin: 0px;
    height: 30px;
    width: 120px;
    line-height: 30px;
    color: #132478;
    border: 1px rgb(243,243,243) solid;
    background: rgb(243,243,243) url('/Public/images/index/news_noti_blue.png') no-repeat left;
    background-size: 15px 15px;
    background-position: 9% 50%;
}

.column_button_normal_noti{
    float: left;
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Microsoft Yahei';
    height: 30px;
    width: 120px;
    line-height: 30px;
    color: rgb(243,243,243);
    border: 1px rgb(243,243,243) solid;
    background: #0d184e url('/Public/images/index/news_noti_white.png') no-repeat left; 
    background-size: 15px 15px;
    background-position: 9% 50%;

}

.column_content{
    height: 300px;
    width: 472px;
}

.display_news{
    height: 150px;
    width: 470px;
}

.display_news_picture{
    height: 130px;
    width: 180px;
    position: absolute;
    top: 50px;
    left: 15px;
    background-color: #fff;

}

.display_news_title{
    height: 30px;
    width: 240px;
    position: absolute;
    color: #fff799;
    font-size: 16px;
    top: 55px;
    right: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.display_news_content{
    height: 80px;
    width: 240px;
    line-height: 20px;
    top: 90px;
    right: 15px;
    position: absolute;
    color: #fff;
    overflow: hidden;
    font-size: 14px !important;
    text-indent: 2em;
}

.display_news_picture{
    height: 130px;
    width: 180px;
    position: absolute;
    top: 50px;
    left: 15px;
    background-color: #fff;

}

.display_news_title2{
    height: 30px;
    width: 240px;
    position: absolute;
    color: #0d184e;
    font-size: 16px;
    top: 55px;
    right: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.display_news_content2{
    height: 80px;
    width: 240px;
    line-height: 20px;
    top: 90px;
    right: 15px;
    position: absolute;
    color: #0d184e;
    overflow: hidden;
    font-size: 14px !important;
    text-indent: 2em;
}

.blocklinktext2{
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space:nowrap;
    font-family:  'Microsoft Yahei';
    font-weight: normal;
    text-decoration: none;
    font-size: 15px;
    color: #0d184e !important;
}

.buttomline2{
     max-width: 350px;
     overflow: hidden;
     border-top: 1px solid #0d184e;
}

.b2link{
    font-size: 15px;
    text-decoration: none;
    color: #0d184e;
    font-family: 'Microsoft Yahei';
    position: absolute;
    top: 10px;
    left: 400px;

}

.blocklinktext3{
    max-width: 300px;
    height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space:nowrap;
    font-family:  'Microsoft Yahei';
    font-weight: normal;
    text-decoration: none;
    font-size: 15px;
    color: #0d184e !important;
}

/*.blocktable3{
    width: 460px;
    height: 300px;
    position: absolute;
    border-collapse:collapse;
    top: 35px;
    left: 10px;
}*/

.organization_content{
    width: 460px;
    height: 270px;
    position: absolute;
    border-collapse:collapse;
    top: 40px;
    left: 10px;
}

.blocktable3 td a{
    width: 460px;
    height: 20px;
    border-collapse:collapse;
}

.column_button_selected_memory{
    float: left;
    margin: 0px;
    height: 30px;
    width: 120px;
    line-height: 30px;
    color: #132478;
    border: 1px rgb(243,243,243) solid;
    background: rgb(243,243,243) url('/Public/images/index/school_blue.png') no-repeat left;
    background-size: 15px 15px;
    background-position: 9% 50%;
}

.column_button_normal_memory{
    float: left;
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Microsoft Yahei';
    height: 30px;
    width: 120px;
    line-height: 30px;
    color: rgb(243,243,243);
    border: 1px rgb(243,243,243) solid;
    background: #0d184e url('/Public/images/index/school_white.png') no-repeat left; 
    background-size: 15px 15px;
    background-position: 9% 50%;

}

.column_button_selected_alumni{
    float: left;
    margin: 0px;
    height: 30px;
    width: 120px;
    line-height: 30px;
    color: #132478;
    border: 1px rgb(243,243,243) solid;
    background: rgb(243,243,243) url('/Public/images/index/alumni_blue.png') no-repeat left;
    background-size: 15px 15px;
    background-position: 9% 50%;
}

.column_button_normal_alumni{
    float: left;
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Microsoft Yahei';
    height: 30px;
    width: 120px;
    line-height: 30px;
    color: rgb(243,243,243);
    border: 1px rgb(243,243,243) solid;
    background: #0d184e url('/Public/images/index/alumni_white.png') no-repeat left; 
    background-size: 15px 15px;
    background-position: 9% 50%;

}

.column_button_normal_organization{
    float: left;
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Microsoft Yahei';
    height: 30px;
    width: 120px;
    line-height: 30px;
    color: rgb(243,243,243);
    border: 1px rgb(243,243,243) solid;
    background: #0d184e url('/Public/images/index/organization_white.png') no-repeat left; 
    background-size: 15px 15px;
    background-position: 9% 50%;

}

.column_button_selected_organization{
    float: left;
    margin: 0px;
    height: 30px;
    width: 120px;
    line-height: 30px;
    color: #132478;
    border: 1px rgb(243,243,243) solid;
    background: rgb(243,243,243) url('/Public/images/index/organization_blue.png') no-repeat left;
    background-size: 15px 15px;
    background-position: 9% 50%;
}

.contact_content{
    width: 472px;
    height: 300px;
    position: absolute;
    top: 35px;
}

.contact_picture{
    position: absolute;
    top: 10px;
    left: 25px;
    width: 200px;
    height: 260px;
    background: url('/Public/images/index/contact_picture.png') no-repeat;
    background-size: 100%;
}

.contact_article{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 280px;
    overflow: hidden;
    color: #fff;

}

.contact_article td a{
    padding:0;
    margin:0;
    height: 25px;
    overflow: hidden;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
}



.newsalumnus{
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Microsoft Yahei';
    position: absolute;
    top: 0px;
    height: 30px;
    line-height: 30px;
    width: 120px;
    left: 0px;
    padding-left: 8px;
    color: #132478;
    background-color: rgb(243,243,243);
}
.newsalumnus>img{
    height: 22px;
    width: 22px;
    vertical-align: middle;
}
.infos{
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Microsoft Yahei';
    position: absolute;
    height: 30px;
    width: 120px;
    line-height: 30px;
    top: 0px;
    color: white;
    left: 0px;
    padding-left: 8px;
    background-color: #132478;
}
.infos>img{
    height: 20px;
    width: 22px;
    vertical-align: middle;
}
.donatethanks{
    margin: 0px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Microsoft Yahei';
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*height: 30px;*/
    line-height: 30px;
    width: 120px;
    color: #132478;
    padding-left: 15px;
    border: 2px solid #132478;
    border-radius: 20px;
    background: url("/Public/images/index/donatethanks.png") 90px center no-repeat;
    background-size: 20px 20px;
}
.b3link{
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Microsoft Yahei';
    position: absolute;
    top: 10px;
    left: 400px;
}
.b1link{
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Microsoft Yahei';
    position: absolute;
    top: 10px;
    left: 400px;
}

.b4link{
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Microsoft Yahei';
    position: absolute;
    top: 10px;
    left: 400px;

}
.blocktable{
    width: 450px;
    height: 120px;
    position: absolute;
    border-collapse:collapse;
    bottom: 0px;
    left: 10px;
}
.blocklinktext0{
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space:nowrap;
    font-family:  'Microsoft Yahei';
    font-weight: normal;
    text-decoration: none;
    font-size: 15px;
    color: rgba(225, 225,225,1) !important;
}
.blocklinktext{
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space:nowrap;
    font-family:  'Microsoft Yahei';
    font-weight: normal;
    text-decoration: none;
    font-size: 15px;
    color: rgb(19, 36, 120) !important;
}
.buttomline{
     max-width: 350px;
     overflow: hidden;
     border-top: 1px solid white;
}
.buttomline1{
    max-width: 350px;
    overflow: hidden;
    border-bottom: 1px solid #132478;
}
/*头条新闻*/
.donateList{
    overflow: hidden;
    line-height: 40px;
    background-color: white;
    width: 400px;
    height: 270px;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 25px;
}

.listName{
    width: 300px;
    color: #132478;
    padding-left: 25px;
}
.listMoney{
    width: 100px;
    color: #132478;
}
.donateTable tr:nth-child(even){
    background: rgb(243,243,243);
    border-right-color: rgb(243,243,243); 
}
@keyframes round{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(0,-593px);
    }
}
.donateTable{
    animation-name: round;
    animation-duration: 22s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.donateTable:hover{
    animation-play-state: paused;
}
