
<include file="Index/header" />
<body>

<div id="wrapper">

    <include file="Index/nav"/>

    <div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/admin.php?c=donation">捐赠管理</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> 捐赠添加
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6">

                <form class="form-horizontal" id="singcms-form">
                    <div class="form-group">
                        <label for="inputname" class="col-sm-2 control-label">捐赠人名或组织:</label>
                        <div class="col-sm-5">
                            <input type="text" name="name" class="form-control" id="inputname" placeholder="请填写捐赠人名或组织名">
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label for="inputname" class="col-sm-2 control-label">父类菜单ID:</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="parentid">
                                <option value="0">一级菜单</option>
                                <volist name="menus" id="parent">
                                    <option value="{$parent.menu_id}">{$parent.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>-->
                 
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">捐赠金额:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="amount" id="inputPassword3" placeholder="请填写捐赠金额">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">捐赠日期</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="date" id="inputPassword3" placeholder="捐赠日期如xxxx-xx-xx">
                        </div>
                    </div>
                   
                    <!--<div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">是否为前台菜单:</label>
                        <div class="col-sm-5">
                            <input type="radio" name="type" id="optionsRadiosInline1" value="0" checked> 否
                            <input type="radio" name="type" id="optionsRadiosInline2" value="1"> 是
                        </div>

                    </div>-->

            

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default" id="singcms-button-submit">提交</button>
                        </div>
                    </div>
                </form>


            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<!-- Morris Charts JavaScript -->
<script>

    var SCOPE = {
        'save_url' : '/admin.php?c=donation&a=add',
        'jump_url' : '/admin.php?c=donation',
    }
</script>
<include file="Index/footer" />





