<include file="Index/header"/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="/Public/css/search/search.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Public/css/page.css">

    <script type="text/javascript" src="/Public/js/alumni/menuFix.js"></script>
    <script src="/Public/js/alumni/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/Public/js/alumni/listIndex.js"></script>
    <script src="/Public/js/paging.js"></script>
</head>
<body>
    <div class="ahead">——————&nbsp;&nbsp;&nbsp;搜索结果&nbsp;&nbsp;&nbsp;——————</div>
    <center>
        <div class="search">
        <ul>
            <br>
            <br>
            <volist name="articles" id="news">
                <li>
                    <div class="time_area">
                        <!--年月-->
                        <span class="time_month"><?php $time = date("Y-m-d",$news['publishdate']); echo substr($time,0,7) ?><br></span>
                        <!--日-->
                        <span class="time_date"><?php echo substr($time,8,2) ?>日</span>
                    </div>
                    <div class="word1" id="word1">
                        <!--标题-->
                        <a href="/index.php?c=passage&articleid={$news['articleid']}" name="title">{$news['title']}</a>
                        <!--内容-->
                        <p name="content"><?php echo $contentes = strip_tags($news['content']) ?></p>
                    </div>
                </li>
                <hr class="line_part"/>
            </volist>
        </ul>
        </div>
        <div class=change>
            <div id="page" class="page_div"></div>
        </div>
    </center>
</body>
<script>
    $("#page").paging({
            pageNo: {$page.pageNow},
            totalPage: {$page.pageTotal},
            totalSize: {$page.pageRows},
            callback: function(num) {
                var title = {$title};
                alert("点击了");
                window.location.href = '/index.php?c=search&p=' + num+'&title=哈';
            }
    });

</script>
</html>
<include file="Index/footer"/>