  <include file="Index/header" />
<body>
<div id="wrapper">

  <include file="Index/nav"/>
  <div id="page-wrapper">

    <div class="container-fluid" >

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">

          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>  <a href="/admin.php?c=alumnis">校友会管理</a>
            </li>
            <li class="active">
              <i class="fa fa-table"></i> 校友会列表
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
      <div>
        <button  id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          添加 
        </button>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="table-responsive">
            <form id="singcms-listorder">
              <table class="table table-bordered table-hover singcms-table">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>标题</th>
                  <th>时间</th>
                  <th>显示</th>
                </tr>
                </thead>
                <tbody>
                <volist name="alumnis" id="alumni">
                  <tr>
                    <td>{$alumni.alumnis_id}</td>
                    <td>{$alumni.title}</td>
                    <td>{$alumni.createtime|date="Y-m-d H:i",###}</td>
                    <td>
                      <span  attr-status="<if condition="$alumni['status'] eq 1">0<else/>1</if>"  attr-id="{$alumni.alumnis_id}" class="sing_cursor singcms-on-off" id="singcms-on-off" >{$alumni.status|status}
                      </span>
                    </td>
                    <td>
                      <span class="sing_cursor glyphicon glyphicon-edit" aria-hidden="true" id="singcms-edit" attr-id="{$alumni.alumnis_id}" >
                      </span>
                      <a href="javascript:void(0)" id="singcms-delete"  attr-id="{$alumni.alumnis_id}"  attr-message="删除">
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true">
                        </span>
                      </a>
<!--                       <a 
                      target="_blank" 
                      href="/index.php?c=detail&a=view&id={$alumni.alumnis_id}" 
                      class="sing_cursor glyphicon glyphicon-eye-open" 
                      aria-hidden="true" >
                      </a> -->
                    </td>
                  </tr>
                </volist>

                </tbody>
              </table>
              <nav>
                <ul >
                  {$pageres}
                </ul>
              </nav>
            </form>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script>
  var SCOPE = {
    'edit_url' : '/admin.php?c=alumnis&a=edit',
    'add_url' : '/admin.php?c=alumnis&a=add',
    'set_status_url' : '/admin.php?c=alumnis&a=setStatus',
    'sing_news_view_url' : '/index.php?c=view',
  }
</script>
<include file="Index/footer" />